:root{
    --mainColor:#eaeaea;
    --secondaryColor:#fff;

    --borderColor:#c1c1c1;

    --mainText:black;
    --secondaryText:#4b5156;
    --themeDotBorder:#24292e;
    --previewBg:rgb(251,249,243,0.8);
    --previewShadow:#f0ead6;
    --buttonColor:black;
    --duration: 4s;
}
body *{
    transition: 0.3s;
}

html,body{
    padding: 0;
    margin: 0;
}

h1{
    position: relative;
    color:var(--mainText);
    font-weight: 500;
    font-family: 'Just Me Again Down Here', cursive;
    transition-duration: 4s;
    filter: blur(8px) contrast(-8);
    

}
h3{
    color:var(--mainText);
    font-weight: 500;
    font-family: 'Just Me Again Down Here', cursive;
}
h2,h4,h5,h6, strong{
    color: var(--mainText);
    font-family: 'Russo one',sans-serif;


}
p,li,span,label,input,textarea{
    color: var(--secondaryText);
    font-family: 'Roboto mono',monospace;

}
a{
    text-decoration: none;
    color:#17a2b8;
}

ul{
    list-style: none;
}
h1{font-size: 56px;}
h2{font-size: 36px;}
h3{font-size: 28px;}
h4{font-size: 24px;}
h5{font-size: 20px;}
h6{font-size: 16px;}

.s1{
    background-color: var(--mainColor);
    border-bottom:1px solid var(--borderColor);
    overflow: auto;
}
.s2{
    background-color: var(--secondaryColor);
    border-bottom:1px solid var(--borderColor);
    overflow: auto;
}
.main-container{
    width: 800px;
    margin: 0 auto;
    
}
.greeting-wrapper{
    display: grid;
    text-align: center;
    align-content: center;
    min-height: 0.5em;
}
.intra-wrapper{
    background-color: var(--secondaryColor);
    border: 1px solid var(--borderColor);
    border-radius: 5px 5px 0 0;

    -webkit-box-shadow :-1px 1px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow:-1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);

    display: grid;
    grid-template-columns: 1fr 1fr ;
   
    grid-template-areas:
         'nav-wrapper nav-wrapper'
         'left-column right-column'
    
    ;
}
.nav-wrapper{
    border-radius: 5px 5px 0 0;
    grid-area: nav-wrapper;
    border-bottom: 1px solid var(--borderColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--mainColor);


}
#navigation a{
    color: var(--mainText);
}
#navigation{
    margin: 0;
    padding: 10px;
}
.dots-wrapper{
    display: flex;
    padding: 10px;

}
#navigation li{
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
}
#dot-1{
    background-color: #FC6058;
}
#dot-2{
    background-color: #fec02f;
}
#dot-3{
    background-color: #2ACA3E;
}
.browser-dot{
    background-color: black;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 5px;

    -webkit-box-shadow :-1px 1px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow:-1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);

}
.left-column{
    grid-area: left-column;
    padding-top:50px ;
    padding-bottom: 50px;
   

}
#profile-pic{
    display: block;
    margin: 0 auto;
    height: 200px;
    width: 200px;
    object-fit: cover;
    border: 2px solid var(--borderColor);
}
#theme-options-wrapper{
    display: flex;
    justify-content: center;
}
.theme-dot{
    height: 30px;
    width: 30px;
    background-color: black ;
    border-radius: 50%;
    margin: 5px;
    border:2px solid var(--themeDotBorder);

    -webkit-box-shadow :-1px 1px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow:-1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);

    cursor: pointer;


}
.theme-dot:hover{
    border-width: 5px;

}
/* #light-mode{
    background-color: #fff;
} */

#blue-mode{
    background-color: #192734;
}

#green-mode{
    background-color: #78866b;
}

#purple-mode{
    background-color: #7E4c74;
}
#settings-note{
    font-size: 12px;
    font-style: italic;
    text-align: center;
}
.right-column{
    grid-area: right-column;
    display: grid;
    align-content: center;
    padding-top: 50px;
    padding-bottom: 150px;
   

}
#preview-shadow{
    background-color: var(--previewShadow);
    border-radius: 50% 20% / 10% 40%;
    width: 300px;
    height: 200px;
    padding-top: 30px;
    padding-left: 30px;

}
#preview{
    width: 300px;
    height: 250px;
    border-radius: 50% 20% / 10% 40%;
    border: 1.5px solid #17a2b8;
    background-color: var(--previewBg);
    padding: 15px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;


}
.corner{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #17a2b8;
    background-color: #fff;
    position: absolute;
    z-index: 1;
}
#corner-tl{
    top: -5px;
    left: -5px;
}
#corner-tr{
    top: -5px;
    right: -5px;
}
#corner-br{
    bottom: -5px;
    right: -5px;
}
#corner-bl{
    bottom: -5px;
    left: -5px;
}
.about-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 100px;
}
#skills{
    display: flex;
    justify-content: space-evenly;
    background-color: var(--previewShadow);
}
.social-links{
    display: inline-block;  
    align-content: center;
    text-align: center;
}

.post-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit,320px);
    gap: 20px;
    justify-content: center;
    padding-bottom: 50px;
}
.post{
    border: 1px solid var(--borderColor);

    -webkit-box-shadow :-1px 1px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow:-1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
}
.thumbnail{
    display: block;
    width: 100%;
    height: 180px;
    object-fit: cover;
}
.post-preview{
    background-color: #fff;
    padding: 15px;
}
.post-title{
    color: black;
    margin: 0;
}
.post-intro{
    color: #4b5156;
    font-size: 14px;
}
.tag{
    display: inline-block;
    color: #fff;
    background-color: #888;
    border-radius: 5px;
    margin: 2px;
    padding: 2px 5px;
    font-size: 12px;
}

#contact-form {
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid var(--borderColor);
    padding: 15px;
    border-radius: 5px;
    background-color: var(--mainColor);
    margin-bottom: 50px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-group label {
    font-size: 15px;
    margin-bottom: 5px;
}


.form-control {
    height: 30px;
    border: none;
    outline: none;
    padding: 10px;
    color: var(--mainColor);
    background-color: transparent;
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 1), -1px -1px 6px rgba(255, 255, 255, 0.4);
    font-size: 15px;
}
.message-control{
    height: 100px;
    border: none;
    outline: none;
    padding: 10px;
    color: var(--mainColor);
    background-color: transparent;
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 1), -1px -1px 6px rgba(255, 255, 255, 0.4);
    font-size: 15px;
}
.message-control:focus {
    border: 2px solid transparent;
    color: red;
    box-shadow: 0 0 5px 2px rgba(255, 0, 0, 0.5);
}
 .form-control:focus {
    border: 2px solid transparent;
    color: red;
    box-shadow: 0 0 5px 2px rgba(255, 0, 0, 0.5);
}

.text-center {
    text-align: center;
}
.form-control:valid ~ .label,
.form-control:focus ~ .label {
  transition: 0.3s;
  padding-left: 2px;
  transform: translateY(-35px);
}

.form-control:valid,
.form-control:focus {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 1),
    -1px -1px 6px rgba(255, 255, 255, 0.4),
    inset 3px 3px 10px rgba(0, 0, 0, 1),
    inset -1px -1px 6px rgba(255, 255, 255, 0.4);
}
 

#submit-btn{
    margin-top: 10px;
    width: 100%;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    border: 1px solid var(--buttonColor);
    color: #fff;
    background-color: var(--buttonColor);
    transition: all .3s;
    cursor: pointer;
}
#submit-btn:hover{
  border: 2px solid var(--buttonColor);
}

#submit-btn:active {
    box-shadow: 4px 4px 12px var(--previewShadow),
               -4px -4px 12px var(--secondaryText);
  }

@media screen and (max-width:1200px){
    .main-container{
        width: 95%;
       
    }
    
}

@media screen and (max-width:800px){
    .intra-wrapper{
        display: grid;
        grid-template-columns: 1fr ;
       
        grid-template-areas:
             'nav-wrapper '
             'left-column' 
             'right-column';
    }
    .right-column,
    .left-column
    .post-wrapper
    {
        justify-content: center;
        text-align: center;
    }
    #profile-pic{
       margin: 0 auto;
       display: block;
    }    
    #theme-options-wrapper{
        justify-content: center;
        display: flex;
        gap: 10px;
    }   
  
    #preview{
        width: 300px;
        
    }
   
}
